*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #151515;
    scroll-behavior:smooth;
}
.nav{
    height:80px;
    width:100%;
}
.nav .head{
    display:flex;
    color:white;
}
.head{
    padding:15px;
}
.arrow {
    border: solid white;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 20px;
    margin-top:70px;
    margin-left:80px;
    cursor:pointer;
    }
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
/*Box -Menu*/
.box-menu{
    margin-top:100px;
    padding:10px 20px 10px 20px;
    background-color: #F6700F;
    border-radius:40px;
    margin-left:1000px;
    white-space:nowrap;
}
.menu{
    font-size:25px;
    background-color: #F6700F;
    text-decoration:none;
    color:white;
}
.menu:hover{
    color:black;
}
/*Menu 1*/
.main-menu1{
    margin-top:100px;
    border-radius:40px;
    margin-left:300px;
}
.menu1{
    font-size:50px;
    padding:5px 50px 10px 50px;
    margin-right:970px;
    margin-left:100px;
    white-space:nowrap;
    border-radius:40px;
    color:white;
}
/*Food / Drinks*/

.food-drinks{
    display:flex;
    justify-content:center;
    margin-top:150px;
    margin-left:100px;
}
.food-drinks .food a{
    margin-right:100px;
    padding:20px 90px 20px 90px ;
    background-color: #F6700F;
    font-size:50px;
    border-radius:80px;
    color:white;
    text-decoration: none;
    font-weight:bold;
    color:black;

}
.food-drinks .drinks a{
    margin-right:100px;
    padding:20px 90px 20px 90px ;
    background-color: #F6700F;
    font-size:45px;
    border-radius:80px;
    color:black;
    text-decoration: none;
    font-weight:bold;

}
.drinks a:hover,
.food a:hover{
    color:white;

}
/*Small boxes / prices*/
.big-container{
    padding:130px;
   
    margin-right:700px;
    margin-left:100px;
    
}
.small-box{
    padding:50px;
    margin-left:-140px;
    margin-top:-100px;
    color:white;
}
.circle{
    padding:1px 20px 1px 20px ;
    border-radius: 50%;
    background-color: red;
    margin-right:50px;
}
.small h3{
    font-size:35px;
    margin-top:20px;
    white-space:nowrap;
}
.dot{
    margin-left:100px;
}
.price{
    margin-left:50px;
    
}
/*img- box*/
.img-box{
    padding:180px 200px 180px 200px;
    border-radius: 50%;
    margin-left:820px;
    margin-top:-350px;
    animation:imgAnimation 5s ease-in-out infinite;
}
@keyframes imgAnimation {
    0%{
        background-image: url('food1.png');
        background-size:400px 400px;
        background-repeat: no-repeat;

    }50%{
        background-image: url('food2.png');
        background-size:400px 400px;
        background-repeat: no-repeat;
    }
    100%{
        background-image: url('food1.png');
        background-size:400px 400px;
        background-repeat: no-repeat;
    }
}

/*Food / Drinks2 */
.main-menu2{
    border-radius:40px;
    margin-left:95px;
    margin-bottom:150px;
    margin-left:700px;
}
.menu2{
    font-size:50px;
    padding:5px 50px 10px 50px;
    margin-right:350px;
    margin-left:100px;
    white-space:nowrap;
    border-radius:40px;
    color:white;
}

.food-drinks1{
    display:flex;
    justify-content:center;
    margin-top:80px;
    margin-left:200px;
}
.food-drinks1 .food a{
    margin-right:100px;
    padding:10px 50px 10px 50px ;
    background-color: #F6700F;
    font-size:45px;
    border-radius:80px;
    color:white;
    text-decoration: none;
    font-weight:bold;

}
.food-drinks1 .drinks a{
    margin-right:100px;
    padding:10px 40px 10px 40px ;
    background-color: #F6700F;
    font-size:45px;
    border-radius:80px;
    color:white;
    text-decoration: none;
    font-weight:bold;

}
.drinks1 a:hover,
.food1 a:hover{
    color:black;

}
/*Small boxes / prices*/
.big-container1{
    padding:130px;
   
    margin-right:700px;
    margin-left:100px;
    
}
.small-box1{
    padding:50px;
    margin-left:500px;
    margin-top:-100px;
    color:white;
}
.circle1{
    padding:1px 20px 1px 20px ;
    border-radius: 50%;
    background-color: red;
    margin-right:50px;
}
.small1 h3{
    font-size:35px;
    margin-top:20px;
    white-space:nowrap;
}
.dot1{
    margin-left:100px;
}
.price1{
    margin-left:50px;
    
}
/*img- box*/
.img-box1{
    padding:180px 200px 180px 200px;
    border-radius: 50%;
    margin-left:-500px;
    margin-top:-270px;
    margin-right:900px;
    animation:imgAnimation 5s ease-in-out infinite;
}
@keyframes imgAnimation {
    0%{
        background-image: url('food1.png');
        background-size:400px 400px;
        background-repeat: no-repeat;

    }50%{
        background-image: url('food2.png');
        background-size:400px 400px;
        background-repeat: no-repeat;
    }
    100%{
        background-image: url('food1.png');
        background-size:400px 400px;
        background-repeat: no-repeat;
    }
}
.back-top{
    padding:50px 50px 50px 50px;
}
.back-top a{
    display:flex;
    justify-content:center;
    font-size:30px;
    background-color: #F6700F;
    margin-right:550px;
    margin-left:550px;
    padding:10px;
    border-radius:20px;
    text-decoration:none;
    color:white;
}
.back-top a:hover{
    color:black;
    background-color:rgb(212, 140, 6);
    
}

