* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Bebas Neue';
}

body {
    background-color: #272727;
}
.nav{
    height:80px;
    width:100%;
}
.nav .head{
    display:flex;
    color:white;
}
.head{
    padding:15px;
}
.head h1{
    display:flex;
    justify-content: right;
    align-items:right;
    padding:10px;
    border-radius: 50%;;
}
.link-icon{
    padding:1rem 1rem 0.1rem 1rem;
    border-radius:50%;
    margin-bottom:2.7rem;
    margin-left:74rem;
    
}
.link-icon:hover{
    background-color: rgb(54, 52, 52);
    border-radius:50%;
    transition:.5s;
}
.menu-icon{
    width:3rem;
    height:2.5rem;

}
.back{
    padding:0.2rem 1rem 0.2rem 1rem;
    margin-bottom:4rem;
    margin-left:1.7rem;
    font-size:3vh;
    border-radius:0.5rem;
    letter-spacing:1px;
    border:none;
    font-weight:bold;
    cursor:pointer;
}
.back:hover{
    color:#151515;
    background-color: rgb(255, 136, 0);
    transition:.5s;
}
/*Box menu*/
.Box-Menu {
    margin: 0rem 16rem 5rem 16rem;
}

.main-box {
    flex-direction: column;
    padding: 10rem;
    background-color: white;
    opacity:0;
    animation: fadeIn 1s ease forwards;
    min-width:50rem;
    max-width:55rem;
    margin-left:1rem;
}
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20%);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.img{
    margin-top:3rem;
}
.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px; /* Adjust height as needed */
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    object-fit: contain;
}
.image-container img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.747);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.image-container:hover .overlay {
    opacity: 1;
    height: 70%;
}

.overlay h1 {
    margin-top:30px;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
  }
  .overlay .del  {
    margin-top:30px;
    font-size:5vh;
    color:white;
    display:flex;
    justify-content:center;
  }
  .overlay .new-price{
    font-size:7vh;
    color:white;
    display:flex;
    justify-content:center;
  }
/* Quantity */
.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.quantity-btn-minus{
    background-color: #151515;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}
.quantity-btn-minus:hover{
    color:black;
    background-color: red;
}
.quantity-btn-plus {
    background-color: #151515;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.quantity-btn-plus:hover {
    background-color: rgb(14, 185, 14);
}

.quantity-input {
    width: 50px;
    color:white;
    background-color: #272727;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin: 0 10px;
    padding: 5px;
}

.quantity-input:focus {
    outline: none;
    border-color: green;
}

/* Buy Now Buttons */
.buttons {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.buy-now-btn,
.see-more-btn {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    font-size: 1.4em;
    background-color: #151515;
    color:white;
    border: none;
    cursor: pointer;
    margin: 0 1rem;
    white-space: nowrap;
    border-radius:0.5rem;
}

.see-more-btn:hover {
    background-color: rgb(2, 87, 2);
}
.buy-now-btn:hover{
    background-color: rgb(189, 128, 16);
}
    /* Smallest Screen on a Webpage

        @media small screen
    
                        */
        @media only screen and (min-width: 500px ) and (max-width:580px){
            .nav{
                height:80px;
                width:100%;
            }
            .nav .head{
                display:flex;
                color:white;
            }
            .head h1{
                display:flex;
                justify-content: right;
                align-items:right;
                padding:10px;
                border-radius: 50%;;
            }
            .link-icon{
                padding:1rem 1rem 0.1rem 1rem;
                border-radius:50%;
                margin-bottom:2.7rem;
                margin-left:74rem;
                
            }
            .link-icon:hover{
                background-color: rgb(54, 52, 52);
                border-radius:50%;
                transition:.5s;
            }
            .back{
                padding:0.2rem 1rem 0.2rem 1rem;
                margin-bottom:4rem;
                margin-left:1.7rem;
                font-size:3vh;
                border-radius:0.5rem;
                letter-spacing:1px;
                border:none;
                font-weight:bold;
                cursor:pointer;
            }
            .back:hover{
                color:#151515;
                background-color: rgb(255, 136, 0);
                transition:.5s;
            }
            /*Box menu*/
            .Box-Menu {
                margin: 0rem 10rem 5rem 10rem;
            }
            
            .main-box {
                flex-direction: column;
             width:100%;
                background-color: white;
                opacity:0;
                margin-left:-8rem;
                animation: fadeIn 1s ease forwards;
                min-width:30rem;
                max-width:35rem;
            }
            @keyframes fadeIn{
                from{
                    opacity:0;
                    transform:translateY(20%);
                }
                to{
                    opacity:1;
                    transform:translateY(0);
                }
            }
            .img{
                margin-top:3rem;
            }
            .image-container {
                position: relative;
                overflow: hidden;
                width: 180%;
                height: 300px; /* Adjust height as needed */
                box-shadow: 0 0 20px rgba(0,0,0,0.2);
                object-fit: contain;
                margin-left:-4rem;
                margin-right:-5rem;
                max-width: 20rem;
            }
            .image-container img {
                width: 100%;
                height: auto;
            }
            
            .overlay {
                position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              background: rgb(0, 0, 0);
              background: rgba(0, 0, 0, 0.747);
              overflow: hidden;
              width: 100%;
              height: 0;
              transition: .5s ease;
            }
            
            .image-container:hover .overlay {
                opacity: 1;
                height: 70%;
            }
            
            .overlay h1 {
                margin-top:30px;
                color:white;
                display:flex;
                justify-content: center;
                align-items:center;
              }
              .overlay .del  {
                margin-top:30px;
                font-size:5vh;
                color:white;
                display:flex;
                justify-content:center;
              }
              .overlay .new-price{
                font-size:7vh;
                color:white;
                display:flex;
                justify-content:center;
              }
            /* Quantity */
            .quantity {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
              
            }
            .quantity-btn-minus{
                background-color: #151515;
                color: #fff;
                font-size: 1.2em;
                border: none;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s ease;
            }
            .quantity-btn-minus:hover{
                color:black;
                background-color: red;
            }
            .quantity-btn-plus {
                background-color: #151515;
                color: #fff;
                font-size: 1.2em;
                border: none;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s ease;
            }
            
            .quantity-btn-plus:hover {
                background-color: rgb(14, 185, 14);
            }
            
            .quantity-input {
                width: 50px;
                color:white;
                background-color: #272727;
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 1em;
                margin: 0 10px;
                padding: 5px;
            }
            
            .quantity-input:focus {
                outline: none;
                border-color: green;
            }
            
            /* Buy Now Buttons */
            .buttons {
                margin-top: 5rem;
                display: flex;
                justify-content: center;
            }
            
            .buy-now-btn,
            .see-more-btn {
                padding: 1.5rem 2.5rem 1.5rem 2.5rem;
                font-size: 1.4em;
                background-color: #151515;
                color:white;
                border: none;
                cursor: pointer;
                margin: 0 1rem;
                white-space: nowrap;
                border-radius:0.5rem;
             
            }
            
            .see-more-btn:hover {
                background-color: rgb(2, 87, 2);
            }
            .buy-now-btn:hover{
                background-color: rgb(189, 128, 16);
            }

        }
        /*  Semi Larger Screen!

                @media 700+
        
                    */

                    @media only screen and (min-width: 582px ) and (max-width:660px){
                        .nav{
                            height:80px;
                            width:100%;
                        }
                        .nav .head{
                            display:flex;
                            color:white;
                        }
                        .head h1{
                            display:flex;
                            justify-content: right;
                            align-items:right;
                            padding:10px;
                            border-radius: 50%;;
                        }
                        .link-icon{
                            padding:1rem 1rem 0.1rem 1rem;
                            border-radius:50%;
                            margin-bottom:2.7rem;
                            margin-left:74rem;
                            
                        }
                        .link-icon:hover{
                            background-color: rgb(54, 52, 52);
                            border-radius:50%;
                            transition:.5s;
                        }
                        .back{
                            padding:0.2rem 1rem 0.2rem 1rem;
                            margin-bottom:4rem;
                            margin-left:1.7rem;
                            font-size:3vh;
                            border-radius:0.5rem;
                            letter-spacing:1px;
                            border:none;
                            font-weight:bold;
                            cursor:pointer;
                        }
                        .back:hover{
                            color:#151515;
                            background-color: rgb(255, 136, 0);
                            transition:.5s;
                        }
                        /*Box menu*/
                        .Box-Menu {
                            margin: 0rem 20rem 5rem 18.1rem;
                    
                        }
                        
                        .main-box {
                            flex-direction: column;
                            width:100%;
                            background-color: white;
                            opacity:0;
                            margin-left:-13rem;
                            animation: fadeIn 1s ease forwards;
                            min-width:30rem;
                            max-width:35rem;
                        }
                        @keyframes fadeIn{
                            from{
                                opacity:0;
                                transform:translateY(20%);
                            }
                            to{
                                opacity:1;
                                transform:translateY(0);
                            }
                        }
                        .img{
                            margin-top:3rem;
                        }
                        .image-container {
                            
                            position: relative;
                            overflow: hidden;
                            width: 180%;
                            height: 300px; /* Adjust height as needed */
                            box-shadow: 0 0 20px rgba(0,0,0,0.2);
                            object-fit: contain;
                            margin-left:-4rem;
                            margin-right:-5rem;
                            max-width: 20rem;
                    
                        }
                        .image-container img {
                            width: 100%;
                            height: auto;
                      
                        }
                        
                        .overlay {
                            position: absolute;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          background: rgb(0, 0, 0);
                          background: rgba(0, 0, 0, 0.747);
                          overflow: hidden;
                          width: 100%;
                          height: 0;
                          transition: .5s ease;
                        }
                        
                        .image-container:hover .overlay {
                            opacity: 1;
                            height: 70%;
                        }
                        
                        .overlay h1 {
                            margin-top:30px;
                            color:white;
                            display:flex;
                            justify-content: center;
                            align-items:center;
                          }
                          .overlay .del  {
                            margin-top:30px;
                            font-size:5vh;
                            color:white;
                            display:flex;
                            justify-content:center;
                          }
                          .overlay .new-price{
                            font-size:7vh;
                            color:white;
                            display:flex;
                            justify-content:center;
                          }
                        /* Quantity */
                        .quantity {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 25px;
                
                        }
                        .quantity-btn-minus{
                            background-color: #151515;
                            color: #fff;
                            font-size: 1.2em;
                            border: none;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.3s ease;
                        }
                        .quantity-btn-minus:hover{
                            color:black;
                            background-color: red;
                        }
                        .quantity-btn-plus {
                            background-color: #151515;
                            color: #fff;
                            font-size: 1.2em;
                            border: none;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.3s ease;
                        }
                        
                        .quantity-btn-plus:hover {
                            background-color: rgb(14, 185, 14);
                        }
                        
                        .quantity-input {
                            width: 50px;
                            color:white;
                            background-color: #272727;
                            text-align: center;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            font-size: 1em;
                            margin: 0 10px;
                            padding: 5px;
                        }
                        
                        .quantity-input:focus {
                            outline: none;
                            border-color: green;
                        }
                        
                        /* Buy Now Buttons */
                        .buttons {
                            margin-top: 5rem;
                            display: flex;
                            justify-content: center;
                        }
                        
                        .buy-now-btn,
                        .see-more-btn {
                            padding: 1.5rem 2.5rem 1.5rem 2.5rem;
                            font-size: 1.4em;
                            background-color: #151515;
                            color:white;
                            border: none;
                            cursor: pointer;
                            margin: 0 1rem;
                            white-space: nowrap;
                            border-radius:0.5rem;
                            margin-left:1rem;
                        }
                        
                        .see-more-btn:hover {
                            background-color: rgb(2, 87, 2);
                        }
                        .buy-now-btn:hover{
                            background-color: rgb(189, 128, 16);
                        }
            
                    }
        /*  Semi Larger Screen!

                @media 700+
        
                    */

                    @media only screen and (min-width: 661px ) and (max-width:750px){
                        .nav{
                            height:80px;
                            width:100%;
                        }
                        .nav .head{
                            display:flex;
                            color:white;
                        }
                        .head h1{
                            display:flex;
                            justify-content: right;
                            align-items:right;
                            padding:10px;
                            border-radius: 50%;;
                        }
                        .link-icon{
                            padding:1rem 1rem 0.1rem 1rem;
                            border-radius:50%;
                            margin-bottom:2.7rem;
                            margin-left:74rem;
                            
                        }
                        .link-icon:hover{
                            background-color: rgb(54, 52, 52);
                            border-radius:50%;
                            transition:.5s;
                        }
                        .back{
                            padding:0.2rem 1rem 0.2rem 1rem;
                            margin-bottom:4rem;
                            margin-left:1.7rem;
                            font-size:3vh;
                            border-radius:0.5rem;
                            letter-spacing:1px;
                            border:none;
                            font-weight:bold;
                            cursor:pointer;
                        }
                        .back:hover{
                            color:#151515;
                            background-color: rgb(255, 136, 0);
                            transition:.5s;
                        }
                        /*Box menu*/
                        .Box-Menu {
                            margin: 0rem 20rem 5rem 18.1rem;
                    
                        }
                        
                        .main-box {
                            flex-direction: column;
                            width:100%;
                            background-color: white;
                            opacity:0;
                            margin-left:-10rem;
                            animation: fadeIn 1s ease forwards;
                            min-width:30rem;
                            max-width:35rem;
                        }
                        @keyframes fadeIn{
                            from{
                                opacity:0;
                                transform:translateY(20%);
                            }
                            to{
                                opacity:1;
                                transform:translateY(0);
                            }
                        }
                        .img{
                            margin-top:3rem;
                        }
                        .image-container {
                            
                            position: relative;
                            overflow: hidden;
                            width: 180%;
                            height: 300px; /* Adjust height as needed */
                            box-shadow: 0 0 20px rgba(0,0,0,0.2);
                            object-fit: contain;
                            margin-left:-4rem;
                            margin-right:-5rem;
                            max-width: 20rem;
                    
                        }
                        .image-container img {
                            width: 100%;
                            height: auto;
                      
                        }
                        
                        .overlay {
                            position: absolute;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          background: rgb(0, 0, 0);
                          background: rgba(0, 0, 0, 0.747);
                          overflow: hidden;
                          width: 100%;
                          height: 0;
                          transition: .5s ease;
                        }
                        
                        .image-container:hover .overlay {
                            opacity: 1;
                            height: 70%;
                        }
                        
                        .overlay h1 {
                            margin-top:30px;
                            color:white;
                            display:flex;
                            justify-content: center;
                            align-items:center;
                          }
                          .overlay .del  {
                            margin-top:30px;
                            font-size:5vh;
                            color:white;
                            display:flex;
                            justify-content:center;
                          }
                          .overlay .new-price{
                            font-size:7vh;
                            color:white;
                            display:flex;
                            justify-content:center;
                          }
                        /* Quantity */
                        .quantity {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 25px;
                
                        }
                        .quantity-btn-minus{
                            background-color: #151515;
                            color: #fff;
                            font-size: 1.2em;
                            border: none;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.3s ease;
                        }
                        .quantity-btn-minus:hover{
                            color:black;
                            background-color: red;
                        }
                        .quantity-btn-plus {
                            background-color: #151515;
                            color: #fff;
                            font-size: 1.2em;
                            border: none;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.3s ease;
                        }
                        
                        .quantity-btn-plus:hover {
                            background-color: rgb(14, 185, 14);
                        }
                        
                        .quantity-input {
                            width: 50px;
                            color:white;
                            background-color: #272727;
                            text-align: center;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            font-size: 1em;
                            margin: 0 10px;
                            padding: 5px;
                        }
                        
                        .quantity-input:focus {
                            outline: none;
                            border-color: green;
                        }
                        
                        /* Buy Now Buttons */
                        .buttons {
                            margin-top: 5rem;
                            display: flex;
                            justify-content: center;
                        }
                        
                        .buy-now-btn,
                        .see-more-btn {
                            padding: 1.5rem 2.5rem 1.5rem 2.5rem;
                            font-size: 1.4em;
                            background-color: #151515;
                            color:white;
                            border: none;
                            cursor: pointer;
                            margin: 0 1rem;
                            white-space: nowrap;
                            border-radius:0.5rem;
                            margin-left:1rem;
                        }
                        
                        .see-more-btn:hover {
                            background-color: rgb(2, 87, 2);
                        }
                        .buy-now-btn:hover{
                            background-color: rgb(189, 128, 16);
                        }
            
                    }
                    /*  Semi Larger Screen!

                @media 850+
        
                    */

                    @media only screen and (min-width: 751px ) and (max-width:900px){
                        .nav{
                            height:80px;
                            width:100%;
                        }
                        .nav .head{
                            display:flex;
                            color:white;
                        }
                        .head h1{
                            display:flex;
                            justify-content: right;
                            align-items:right;
                            padding:10px;
                            border-radius: 50%;;
                        }
                        .link-icon{
                            padding:1rem 1rem 0.1rem 1rem;
                            border-radius:50%;
                            margin-bottom:2.7rem;
                            margin-left:74rem;
                            
                        }
                        .link-icon:hover{
                            background-color: rgb(54, 52, 52);
                            border-radius:50%;
                            transition:.5s;
                        }
                        .back{
                            padding:0.2rem 1rem 0.2rem 1rem;
                            margin-bottom:4rem;
                            margin-left:1.7rem;
                            font-size:3vh;
                            border-radius:0.5rem;
                            letter-spacing:1px;
                            border:none;
                            font-weight:bold;
                            cursor:pointer;
                        }
                        .back:hover{
                            color:#151515;
                            background-color: rgb(255, 136, 0);
                            transition:.5s;
                        }
                        /*Box menu*/
                        .Box-Menu {
                            margin: 0rem 10rem 5rem 18.1rem;
                    
                        }
                        
                        .main-box {
                            flex-direction: column;
                            width:100%;
                            background-color: white;
                            opacity:0;
                            margin-left:-8rem;
                            animation: fadeIn 1s ease forwards;
                            min-width:35rem;
                            max-width:40rem;
                        }
                        @keyframes fadeIn{
                            from{
                                opacity:0;
                                transform:translateY(20%);
                            }
                            to{
                                opacity:1;
                                transform:translateY(0);
                            }
                        }
                        .img{
                            margin-top:3rem;
                        }
                        .image-container {
                            
                            position: relative;
                            overflow: hidden;
                            width: 180%;
                            height: 300px; /* Adjust height as needed */
                            box-shadow: 0 0 20px rgba(0,0,0,0.2);
                            object-fit: contain;
                            margin-left:-2.5rem;
                            margin-right:-5rem;
                            max-width: 20rem;
                    
                        }
                        .image-container img {
                            width: 100%;
                            height: auto;
                      
                        }
                        
                        .overlay {
                            position: absolute;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          background: rgb(0, 0, 0);
                          background: rgba(0, 0, 0, 0.747);
                          overflow: hidden;
                          width: 100%;
                          height: 0;
                          transition: .5s ease;
                        }
                        
                        .image-container:hover .overlay {
                            opacity: 1;
                            height: 70%;
                        }
                        
                        .overlay h1 {
                            margin-top:30px;
                            color:white;
                            display:flex;
                            justify-content: center;
                            align-items:center;
                          }
                          .overlay .del  {
                            margin-top:30px;
                            font-size:5vh;
                            color:white;
                            display:flex;
                            justify-content:center;
                          }
                          .overlay .new-price{
                            font-size:7vh;
                            color:white;
                            display:flex;
                            justify-content:center;
                          }
                        /* Quantity */
                        .quantity {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 25px;
                
                        }
                        .quantity-btn-minus{
                            background-color: #151515;
                            color: #fff;
                            font-size: 1.2em;
                            border: none;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.3s ease;
                        }
                        .quantity-btn-minus:hover{
                            color:black;
                            background-color: red;
                        }
                        .quantity-btn-plus {
                            background-color: #151515;
                            color: #fff;
                            font-size: 1.2em;
                            border: none;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.3s ease;
                        }
                        
                        .quantity-btn-plus:hover {
                            background-color: rgb(14, 185, 14);
                        }
                        
                        .quantity-input {
                            width: 50px;
                            color:white;
                            background-color: #272727;
                            text-align: center;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            font-size: 1em;
                            margin: 0 10px;
                            padding: 5px;
                        }
                        
                        .quantity-input:focus {
                            outline: none;
                            border-color: green;
                        }
                        
                        /* Buy Now Buttons */
                        .buttons {
                            margin-top: 5rem;
                            display: flex;
                            justify-content: center;
                        }
                        
                        .buy-now-btn,
                        .see-more-btn {
                            padding: 1.5rem 2.5rem 1.5rem 2.5rem;
                            font-size: 1.4em;
                            background-color: #151515;
                            color:white;
                            border: none;
                            cursor: pointer;
                            margin: 0 1rem;
                            white-space: nowrap;
                            border-radius:0.5rem;
                            margin-left:1rem;
                        }
                        
                        .see-more-btn:hover {
                            background-color: rgb(2, 87, 2);
                        }
                        .buy-now-btn:hover{
                            background-color: rgb(189, 128, 16);
                        }
            
                    }

                    /*  Semi Larger Screen!

                @media 900+
        
                    */

                    @media only screen and (min-width: 901px ) and (max-width:1050px){
                        .nav{
                            height:80px;
                            width:100%;
                        }
                        .nav .head{
                            display:flex;
                            color:white;
                        }
                        .head h1{
                            display:flex;
                            justify-content: right;
                            align-items:right;
                            padding:10px;
                            border-radius: 50%;;
                        }
                        .link-icon{
                            padding:1rem 1rem 0.1rem 1rem;
                            border-radius:50%;
                            margin-bottom:2.7rem;
                            margin-left:74rem;
                            
                        }
                        .link-icon:hover{
                            background-color: rgb(54, 52, 52);
                            border-radius:50%;
                            transition:.5s;
                        }
                        .back{
                            padding:0.2rem 1rem 0.2rem 1rem;
                            margin-bottom:4rem;
                            margin-left:1.7rem;
                            font-size:3vh;
                            border-radius:0.5rem;
                            letter-spacing:1px;
                            border:none;
                            font-weight:bold;
                            cursor:pointer;
                        }
                        .back:hover{
                            color:#151515;
                            background-color: rgb(255, 136, 0);
                            transition:.5s;
                        }
                        /*Box menu*/
                        .Box-Menu {
                            margin: 0rem 10rem 5rem 18.1rem;
                    
                        }
                        
                        .main-box {
                            flex-direction: column;
                            width:100%;
                            background-color: white;
                            opacity:0;
                            margin-left:-5rem;
                            animation: fadeIn 1s ease forwards;
                            min-width:40rem;
                            max-width:45rem;
                        }
                        @keyframes fadeIn{
                            from{
                                opacity:0;
                                transform:translateY(20%);
                            }
                            to{
                                opacity:1;
                                transform:translateY(0);
                            }
                        }
                        .img{
                            margin-top:3rem;
                        }
                        .image-container {
                            
                            position: relative;
                            overflow: hidden;
                            width: 180%;
                            height: 300px; /* Adjust height as needed */
                            box-shadow: 0 0 20px rgba(0,0,0,0.2);
                            object-fit: contain;
                            margin-left:0.5rem;
                            margin-right:-5rem;
                            max-width: 20rem;
                    
                        }
                        .image-container img {
                            width: 100%;
                            height: auto;
                      
                        }
                        
                        .overlay {
                            position: absolute;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          background: rgb(0, 0, 0);
                          background: rgba(0, 0, 0, 0.747);
                          overflow: hidden;
                          width: 100%;
                          height: 0;
                          transition: .5s ease;
                        }
                        
                        .image-container:hover .overlay {
                            opacity: 1;
                            height: 70%;
                        }
                        
                        .overlay h1 {
                            margin-top:30px;
                            color:white;
                            display:flex;
                            justify-content: center;
                            align-items:center;
                          }
                          .overlay .del  {
                            margin-top:30px;
                            font-size:5vh;
                            color:white;
                            display:flex;
                            justify-content:center;
                          }
                          .overlay .new-price{
                            font-size:7vh;
                            color:white;
                            display:flex;
                            justify-content:center;
                          }
                        /* Quantity */
                        .quantity {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 25px;
                
                        }
                        .quantity-btn-minus{
                            background-color: #151515;
                            color: #fff;
                            font-size: 1.2em;
                            border: none;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.3s ease;
                        }
                        .quantity-btn-minus:hover{
                            color:black;
                            background-color: red;
                        }
                        .quantity-btn-plus {
                            background-color: #151515;
                            color: #fff;
                            font-size: 1.2em;
                            border: none;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background-color 0.3s ease;
                        }
                        
                        .quantity-btn-plus:hover {
                            background-color: rgb(14, 185, 14);
                        }
                        
                        .quantity-input {
                            width: 50px;
                            color:white;
                            background-color: #272727;
                            text-align: center;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            font-size: 1em;
                            margin: 0 10px;
                            padding: 5px;
                        }
                        
                        .quantity-input:focus {
                            outline: none;
                            border-color: green;
                        }
                        
                        /* Buy Now Buttons */
                        .buttons {
                            margin-top: 5rem;
                            display: flex;
                            justify-content: center;
                        }
                        
                        .buy-now-btn,
                        .see-more-btn {
                            padding: 1.5rem 2.5rem 1.5rem 2.5rem;
                            font-size: 1.4em;
                            background-color: #151515;
                            color:white;
                            border: none;
                            cursor: pointer;
                            margin: 0 1rem;
                            white-space: nowrap;
                            border-radius:0.5rem;
                            margin-left:1rem;
                        }
                        
                        .see-more-btn:hover {
                            background-color: rgb(2, 87, 2);
                        }
                        .buy-now-btn:hover{
                            background-color: rgb(189, 128, 16);
                        }
            
                    }